{% load sass_tags %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="宮城県ソフトテニスクラブ まいけむSTC ホームページ" name="description">
    {% block ogp %}
    <meta property="og:title" content="宮城県ソフトテニスクラブ まいけむSTC ホームページ" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="ページの URL" />
    <meta property="og:image" content="サムネイル画像の URL" />
    <meta property="og:site_name" content="まいけむSTC" />
    <meta property="og:description" content="宮城県ソフトテニスクラブ まいけむSTC ホームページ" />
    {% endblock ogp %}
    <title>まいけむSTC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% sass_src '../static/css/base/style.scss' %}">
    <link rel="stylesheet" href="{% sass_src '../static/css/config/common.scss' %}">
    <link rel="stylesheet" href="{% sass_src '../static/css/config/reset.scss' %}">
    {% block head %}
    <link rel="stylesheet" href="{% sass_src '../static/css/base/content/style.scss' %}">
    {% endblock head %}
  </head>

  <body>
    <!-- header -->
    <header class="header">
      <div class="header__header-title">
        <a href="{% url 'top' %}" class="header__header-title--hoverNone">
          <div class="header__header-title--flex">
            <h1>まいけむSTC</h1>
            <img class="header__header-title__image" src="../../media/header/header-logo_2012.jpg" alt="まいけむSTC">
          </div>
        </a>
      </div>

      <!-- navbar -->
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-list__item">
            <a href="{% url 'top' %}">
              <div class="header__nav-list__item--flex">
                <div class="header__nav-list__item--icon-right">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
                    <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                  </svg>
                </div>
                ホーム
              </div>
            </a>
          </li>
          <li class="header__nav-list__item">
            <a href="{% url 'list' %}">
              <div class="header__nav-list__item--flex">
                <div class="header__nav-list__item--icon-right">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-richtext" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                    <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 9h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm1.639-3.708l1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V7.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V7s1.54-1.274 1.639-1.208zM6.25 5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5z"/>
                  </svg>
                </div>
                投稿一覧
                <div class="header__nav-list__item--icon-left">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </div>
              </div>
            </a>
            <div class="header__nav-list__hide-nav">
              <span class="header__nav-list__hide-nav__title">カテゴリー</span>
              <ul class="header__nav-list__hide-nav__list">
                {% for category in category_list %}
                <li>
                  <a href='{% url 'category' category.name %}'>
                    {{ category.name }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="header__nav-list__item">
            <a href="{% url 'contact' %}">
              <div class="header__nav-list__item--flex">
                <div class="header__nav-list__item--icon-right">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M9.502 5.013a.144.144 0 0 0-.202.134V6.3a.5.5 0 0 1-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 0 1 1.921-.306 7.403 7.403 0 0 1 .798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 0 1 .45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 0 1 .042-.028.147.147 0 0 0 0-.252.494.494 0 0 1-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 0 0-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 0 1-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.667z"/>
                  </svg>
                </div>
                お問い合わせ
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    {% comment %} 
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    {% endcomment %}

    {% block content %}
    <div class="grid_wrapper">
      <main class="main">
        <div class="main__imageWrapper">
          <img src="../../media/base/sample.jpg" alt="まいけむSTC">
        </div>

        <section class="grid__inner">
          <h3><span>投稿一覧</span></h3>
          <div class="popular-article__wrapper">
            {% for publish in publish_list|slice:"6" %}
            <article class="card popular-article">
              <a class="popular-article__link" href='{% url 'detail' publish.pk %}'>
  
              {% comment %} ここの画像サイズは固定値 or obj-fitで固定にすべき {% endcomment %}
                {% if publish.image %}
                <img src="../../media/{{ publish.image }}" alt="">
                {% else %}
                <img src="../../media/header/header-logo_2012.jpg" alt="">
                {% endif %}
              {% comment %} ここの画像サイズは固定値 or obj-fitで固定にすべき {% endcomment %}
  
                <div class="card-body popular-article__content">
                  <div class="popular-article__content--flex">
                    <p class="popular-article__content-label">{{ publish.category }}</p>
                    <p class="card-text"><small class="text-muted">{{ publish.created_at|date:"Y.m.d." }}</small></p>
                  </div>
                  <section class="popular-article__content-textBox">
                    <h3 class="popular-article__content-title">{{ publish.title }}</h3>
                    <p class="popular-article__content-subTitle">{{ publish.description }}</p>
                  </section>
                  <div class="popular-article__content-textLink">
                    <span>READ MORE</span>
                  </div>
                </div>
              </a>
            </article>
            {% endfor %}
          </div>
          <div class="button grid__inner-link">
            <a href="{% url 'list' %}" class="btn btn-lg button-link">
              <span>投稿一覧を見る</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right button-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </div>
        </section>
      </main>

      <!-- morePopular-article -->
      <div class="morePopular-article__wrapper--position">
        <section class="morePopular-article__wrapper">
          <h3>人気の記事</h3>
          {% for publish in publish_view_list|slice:"3" %}
          <article class="card morePopular-article">
            <a class="morePopular-article__link" href='{% url 'detail' publish.pk %}'>
  
              {% comment %} ここの画像サイズは固定値 or obj-fitで固定にすべき {% endcomment %}
              {% if publish.image %}
              <img src="../../media/{{ publish.image }}" alt="">
              {% else %}
              <img src="../../media/header/header-logo_2012.jpg" alt="">
              {% endif %}
              {% comment %} ここの画像サイズは固定値 or obj-fitで固定にすべき {% endcomment %}
  
              <section class="morePopular-article__content-textBox">
                <h3 class="morePopular-article__content-title">{{ publish.title }}</h3>
                <p class="morePopular-article__content-subTitle">{{ publish.description }}</p>
              </section>
            </a>
          </article>
          {% endfor %}
        </section>
      </div>
    </div>
    {% endblock content %}
    
    {% comment %}
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    {% endcomment %}

    <!-- footer -->
    <footer class="footer">
      <ul class="footer__content-list">
        <li class="footer__content-list__item">
          <a href="" class="footer__content-list__link">
            利用規約
          </a>
        </li>
        <li class="footer__content-list__item">
          <a href="" class="footer__content-list__link">
            プライバシーポリシー
          </a>
        </li>
        <li class="footer__content-list__item">
          <a href="{% url 'contact' %}" class="footer__content-list__link">
            お問い合わせ
          </a>
        </li>
      </ul>
      <div class="footer__content-logoWrapper">
        <a href="{% url 'top' %}">
          <img src="../../media/footer/footer-logo_02_2012.jpg" alt="まいけむSTC">
        </a>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    {% block script_tag %}
    {% endblock script_tag %}
  </body>
</html>