{% extends 'base.html' %}
{% load sass_tags %}

{% block ogp %}
  <meta property="og:title" content="宮城県ソフトテニスクラブ まいけむSTC ホームページ" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="ページの URL" />
  <meta property="og:image" content="サムネイル画像の URL" />
  <meta property="og:site_name" content="まいけむSTC" />
  <meta property="og:description" content="宮城県ソフトテニスクラブ まいけむSTC ホームページ" />
{% endblock ogp %}
{% block head %}
  <link rel="stylesheet" href="{% sass_src '../static/css/base/content/style.scss' %}">
  <link rel="stylesheet" href="{% sass_src '../static/css/list/style.scss' %}">
  <link rel="stylesheet" href="{% sass_src '../static/css/other/style.scss' %}">
{% endblock head %}

{% block content_wrapper %}
{% block content %}
{% endblock content %}
{% endblock content_wrapper %}

{% block otherContent %}
<main>
 <section>
   <h1 class="otherPage-title"><span>プライバシーポリシー</span></h1>
   <p>まいけむSTC（以下，「当クラブ」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>

   <ul class="praivacy-content__list">
     <li class="praivacy-content__list-item">
       <section>
         <h2 class="otherPage-Subtitle">第1条（個人情報）</h2>
         <p>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>
       </section>
     </li>

     <li class="praivacy-content__list-item">
       <section>
         <h2 class="otherPage-Subtitle">第2条（利用する目的）</h2>
         <p>当クラブが個人情報を利用する目的は，以下のとおりです。</p>
         <ol class="praivacy-content__list-item__order-list">
           <li>当クラブサービスの提供・運営のため</li>
           <li>ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</li>
           <li>メンテナンス，重要なお知らせなど必要に応じたご連絡のため</li>
           <li>利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため</li>
           <li>上記の利用目的に付随する目的</li>
         </ol>
       </section>
     </li>

     <li class="praivacy-content__list-item">
       <section>
         <h2 class="otherPage-Subtitle">第3条（利用目的の変更）</h2>
         <ol class="praivacy-content__list-item__order-list">
           <li>当クラブは，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。</li>
           <li>利用目的の変更を行った場合には，変更後の目的について，当クラブ所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。</li>
         </ol>
       </section>
     </li>

     <li class="praivacy-content__list-item">
       <section>
         <h2 class="otherPage-Subtitle">第4条（個人情報の第三者提供）</h2>
         <ol class="praivacy-content__list-item__order-list">
           <li>
              <span>当クラブは，次に掲げる場合を除いて，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。</span>
              <ol class="praivacy-content__list-item__order-list">
                <li>人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき</li>
                <li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき</li>
                <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
              </ol>
            </li>
         </ol>
       </section>
     </li>

     <li class="praivacy-content__list-item">
       <section>
         <h2 class="otherPage-Subtitle">第5条（プライバシーポリシーの変更）</h2>
         <ol class="praivacy-content__list-item__order-list">
           <li>本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。</li>
           <li>当クラブが別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。</li>
         </ol>
       </section>
     </li>
   </ul>
  </section>
</main>
{% endblock otherContent %}