{% extends 'base.html' %}
{% load sass_tags %}

{% block ogp %}
  <meta property="og:title" content="宮城県ソフトテニスクラブ まいけむSTC ホームページ" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="ページの URL" />
  <meta property="og:image" content="サムネイル画像の URL" />
  <meta property="og:site_name" content="まいけむSTC" />
  <meta property="og:description" content="宮城県ソフトテニスクラブ まいけむSTC ホームページ" />
{% endblock ogp %}
{% block head %}
  <link rel="stylesheet" href="{% sass_src '../static/css/base/content/style.scss' %}">
  <link rel="stylesheet" href="{% sass_src '../static/css/contact/style.scss' %}">
{% endblock head %}

{% block content %}
{% endblock content %}

{% block otherContent %}

<main class="contact">
  <section class="contact-info">
    <h1 class="contact-info__title"><span>送信成功</span></h1>
    <p class="contact-info__text">お問い合わせありがとうございました。<br>内容確認次第、担当者よりご連絡させていただきます。</p>
  <div class="contact-info__to-TOP">
    <a href="{% url 'top' %}">TOPへ</a>
  </div>
  </section>
</main>



{% endblock otherContent %}
