{% extends 'base.html' %}
{% load sass_tags %}

{% block ogp %}
  <meta property="og:title" content="宮城県ソフトテニスクラブ まいけむSTC ホームページ" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="ページの URL" />
  <meta property="og:image" content="サムネイル画像の URL" />
  <meta property="og:site_name" content="まいけむSTC" />
  <meta property="og:description" content="宮城県ソフトテニスクラブ まいけむSTC ホームページ" />
{% endblock ogp %}
{% block head %}
  <link rel="stylesheet" href="{% sass_src '../static/css/base/content/style.scss' %}">
  <link rel="stylesheet" href="{% sass_src '../static/css/list/style.scss' %}">
  <link rel="stylesheet" href="{% sass_src '../static/css/other/style.scss' %}">
{% endblock head %}

{% block content_wrapper %}
{% block content %}
{% endblock content %}
{% endblock content_wrapper %}

{% block otherContent %}
<main>
 <section>
   <h1 class="otherPage-title"><span>利用規約</span></h1>
   <p>この利用規約（以下，「本規約」といいます。）は，まいけむSTC（以下，「当クラブ」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</p>

   <!-- praivacy-content__list -->
   <ul class="praivacy-content__list">
     <li class="praivacy-content__list-item">
       <section>
         <h2 class="otherPage-Subtitle">第1条（適用）</h2>
         <p>本規約は，ユーザーとまいけむSTCとの間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>
         <p>まいけむSTCは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。</p>
         <p>本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。</p>
       </section>
     </li>

     <!-- praivacy-content__list-item -->
     <li class="praivacy-content__list-item">
       <section>
         <h2 class="otherPage-Subtitle">第6条（本サービスの提供の停止等）</h2>
         <ol class="praivacy-content__list-item__order-list">
          <li>
            <span>まいけむSTCは，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</span>
            <!-- praivacy-content__list-item__order-list -->
            <ol class="praivacy-content__list-item__order-list">
              <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
              <li>地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合</li>
              <li>コンピュータまたは通信回線等が事故により停止した場合</li>
              <li>その他，まいけむSTCが本サービスの提供が困難と判断した場合</li>
            </ol>
          </li>
          <li class="praivacy-content--marginTop">
            <span>まいけむSTCは，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。</span>
          </li>
        </ol>
       </section>
     </li>

     <li class="praivacy-content__list-item">
      <section>
        <h2 class="otherPage-Subtitle">第9条（保証の否認および免責事項）</h2>
        <ol class="praivacy-content__list-item__order-list">
          <li>まいけむSTCは，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</li>
          <li>まいけむSTCは，本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。ただし，本サービスに関するまいけむSTCとユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合，この免責規定は適用されません。</li>
          <li>前項ただし書に定める場合であっても，まいけむSTCは，まいけむSTCの過失による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（まいけむSTCまたはユーザーが損害発生につき予見し，または予見し得た場合を含みます。）について一切の責任を負いません。</li>
        </ol>
      </section>
    </li>

    <li class="praivacy-content__list-item">
      <section>
        <h2 class="otherPage-Subtitle">第10条（サービス内容の変更等）</h2>
        <p>まいけむSTCは，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。</p>
      </section>
    </li>

    <li class="praivacy-content__list-item">
      <section>
        <h2 class="otherPage-Subtitle">第11条（利用規約の変更）</h2>
        <p>まいけむSTCは，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお，本規約の変更後，本サービスの利用を開始した場合には，当該ユーザーは変更後の規約に同意したものとみなします。</p>
      </section>
    </li>

    <li class="praivacy-content__list-item">
      <section>
        <h2 class="otherPage-Subtitle">第12条（個人情報の取扱い）</h2>
        <p>まいけむSTCは，本サービスの利用によって取得する個人情報については，まいけむSTC「<a class="praivacy-content__list-item--textLink" href="{% url 'privacy' %}">プライバシーポリシー</a>」に従い適切に取り扱うものとします。</p>
      </section>
    </li>
   </ul>
  </section>
</main>
{% endblock otherContent %}