@import '../config/responsive.scss';

// =============================
// header
// =============================
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 9999;
  @include mediaQuery (mobile) {
    padding: 0 15px;
  }

  @include mediaQuery () {
    justify-content: space-around;
  }

  &__header-title {
    @include mediaQuery () {
      width: 50%;
      text-align: center;
    }
    
    h1 {
      font-size: 1.8rem;
      margin-right: 3px;
      @include mediaQuery (mobile) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      @include mediaQuery () {
        font-size: 2.5rem;
        margin-right: 20px;
      }
    }

    &--hoverNone:hover {
      color: #000000;
    }

    &--flex {
      display: flex;
      align-items: center;
      justify-content: center;
      @include mediaQuery (mobile) {
        flex-direction: row-reverse;
      }
    }

    &__image {
      display: block;
      height: calc(75px - 2px);
      width: auto;
    }
  }

  &__nav {
    @include mediaQuery () {
      width: 50%;
    }

    @include mediaQuery (mobile) {
      &-mobileWrapper {

        &--hide {
          display: none;
        }
  
        &-hideContent {
          display: none;
        }

        &-list {
          background-color: #ffffff;
          position: absolute;
          top: 75px;
          left: 0;
          right: 0;
          height: 100vh;
        }

        &-list__item {
          border-bottom: 1px solid #e6e6e6;
          font-size: 1.6rem;
          text-align: center;
          @include mediaQuery (mobile) {
            height: 37px;
            position: relative;
          }
          
          @include mediaQuery () {
            padding: 10px 0;
          }

          @include mediaQuery (mobile) {
            a {
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              transform: translateY(-50%);            
            }
          }
        }
      }
    }

    .is--hide {
      display: none;
    }

    .is--open {
      display: block;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    justify-content: center;

    &__hide-nav {
      border-radius: 5%;
      box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.1);
      margin-top: 10px;
      padding: 15px 0;
      position: absolute;
      left: -10px;
      transition: all .2s linear;
      visibility: hidden;
      width: 170%;
      z-index: -9999;

      &__title {
        font-size: 1.4rem;
        font-weight: bold;
        display: block;
        padding: 0 0 0 10px;
        position: relative;

        &::after {
          content: '';
          border-bottom: 1px solid #eff0f2;
          position: absolute;
          left: 10px;
          bottom: -10px;
          padding-left: 10px;
          width: 15%;
        }
      }
    }

    &__item {
      font-size: 1.5rem;
      margin: 0 3%;
      position: relative;

      &:hover {
        .header__nav-list__hide-nav {
          background-color: #ffffff;
          visibility: visible;
        }
      }

      &--flex {
        display: flex;
        align-items: center;

      }

      &--icon-left {
        display: inline-flex;
        margin-left: 5px;
      }

      &--icon-right {
        display: inline-flex;
        margin-right: 5px;
      }
    }

    &__hide-nav__list {
      > li {
        display: flex;
        align-items: center;
        padding-left: 10px;

        &:nth-of-type(1) {
          margin-top: 13px;
        }

        &:nth-of-type(n + 2) {
          margin-top: 3px;
        }
      }
    }

    &__hide-nav__item__subTitle {
      font-size: 1.2rem;
    }
  }
}

// =============================
// footer
// =============================
.footer {
  background-color: #333333;
  margin-top: 30px;
  padding: 50px 0 30px;
  text-align: center;

  &__content-list {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 374px) {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 15px;
    }

    &__item {
      margin: 0 2%;
    }

    &__link {
      color: #d3d3d3;
    }
  }

  &__content-logoWrapper {
    margin: 15px auto;
    width: 20%;

    @include mediaQuery () {
      width: 7%;
    }
  }
}

// =============================
// button
// =============================
.button {
  &-link {
    background-color: #007bff; // bootstrapオーバーライド
    border-color: #007bff; // bootstrapオーバーライド
    color: #ffffff; // bootstrapオーバーライド
    padding: 1rem 2rem; // bootstrapオーバーライド

    &:hover {
      background-color: #ffffff;
      color:#007bff;
    }
    
    > span {
      font-size: 1.4rem; // bootstrapオーバーライド
    }
  }

  &-icon {
    margin-bottom: 3px;
  }
}