@import '../config/common.scss';
@import '../config/responsive.scss';

// =============================
// grid
// =============================
.grid_wrapper {
  margin-top: 110px;
}

.listmain {
  .grid__inner {
    margin: 0 3%;
    position: relative;
  
    &--flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

// =============================
// morePopular-article__wrapper
// =============================
.morePopular-article__wrapper {
  > h3 {
    margin: 0 10% 0 10%;
  }
}

// =============================
// grid__inner-categoryBox
// =============================
.grid__inner-categoryBox {
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 11px 4px;
  position: relative;
  
  &--flex {
    display: flex;
    align-items: center;

    > span {
      @include font-family();
      color: #c0c0c0;
      font-size: 1.4rem;
    }
  }

  &-icon {
    margin-left: 3px;

    > svg {
      fill: #c0c0c0;
    }
  }

  &__hide-nav {
    border-radius: 5%;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.1);
    margin-top: 10px;
    padding: 10px 0;
    position: absolute;
    left: -10px;
    width: 140%;
    transition: all .2s linear;
    visibility: hidden;
    z-index: -9999;
    
    @include mediaQuery () {
      width: 170%;
    }
  }

  &__hide-nav__list {
    > li {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      padding-left: 10px;

      @include mediaQuery () {
        font-size: 1.4rem;
      }

      &:nth-of-type(n + 2) {
        margin-top: 5px;
      }
    }
  }
}

// =============================
// js is-tag
// =============================
.popular-article__not-exist {
  @include font-family();
  margin-top: 15px;
}

// =============================
// js is-tag
// =============================
.is-active {
  background-color: #ffffff;
  visibility: visible;
  z-index: 99999;
}

.is-rotate {
  transform: rotate(180deg);
}