html {
  font-size: 10px;
}

@mixin font-family {
  body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
    letter-spacing: .8px;
  
    /* IEだけに適応 */
    _:lang(x)::-ms-backdrop, .selector {
      font-family: "Segoe UI", Meiryo, sans-serif;
    }
  }
}
