@import '../../config/common.scss';

.grid_wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
}

.grid__inner {
  &-link {
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: center;
  }
}

.popular-article__wrapper {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-around;
  margin-top: 60px;
}

.popular-article {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: none; //bootstrapオーバーライド
  margin: 30px 0;

  &:nth-of-type(n + 4) {
    margin-top: 30px;
  }

  &__link {
    &:hover {
      opacity: 0.8;
    }
  }
}

.popular-article__content {
  font-size: 1.2rem;
  @include font-family();
  margin: 3px 0 30px 0;

  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }

  &-label {
    background-color: greenyellow;
    border-radius: 10%;
    padding: 7px 7px;
  }

  &-textBox {
    margin: 13px 20px 0 20px;
  }

  &-title {
    font-size: 2.0rem;
    line-height: 1.3;
  }

  &-subTitle {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-top: 10px;
  }

  &-textLink {
    border-bottom: 1px solid greenyellow;
    font-size: 1.2rem;
    margin: 23px 20px 0 0;
    padding-bottom: 5px;
    text-align: right;
  }
}

.morePopular-article__wrapper--position {
  position: relative;
}

.morePopular-article__wrapper {
  position: sticky;
  top: 75px;
  right: 0;

  > h3 {
    background-color: #f2f2f2;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 20px 10% 0 10%;
    padding: 14px 0;
    text-align: center;
  }
}

.morePopular-article {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: none; //bootstrapオーバーライド
  margin: 20px 10% 0 10%;

  &:nth-of-type(n + 2) {
    margin-top: 20px;
  }

  &__link {
    &:hover {
      opacity: 0.8;
    }
  }
}

.morePopular-article__content {
  font-size: 1.2rem;
  @include font-family();
  margin: 3px 0 30px 0;

  &-textBox {
    margin: 13px 20px 0 20px;
    padding: 1.25rem 0 3rem;
  }

  &-title {
    font-size: 2.0rem;
    line-height: 1.3;
  }

  &-subTitle {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-top: 10px;
  }
}

