@import '../config/common.scss';

main {
  width: 60%;
  margin: 110px auto 80px;
}

p {
  @include font-family();
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: 0.8px;
  margin-top: 20px;
}

.otherPage-title {
  @include font-family();
  border-left: 4px solid gray;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 8px;
  
  > span {
    display: block;
    padding-left: 3px;
  }
}

.otherPage-Subtitle {
  @include font-family();
  font-size: 2.1rem;
  font-weight: bold;
}

.praivacy-content__list-item {
  @include font-family();
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: 0.8px;
  margin-top: 30px;

  &__order-list {
    margin: 20px 0 0 15px;
    
    > li {
      list-style-type: decimal;
      margin: 10px 0 0 20px;
    }
  }
}